venv/
__pycache__/
*.pyc
.env
cache/
data/raw/
data/processed/
data/labeled/dataset.csv
mlruns/
*.egg-info/
.ipynb_checkpoints/
notebooks/data/
*.csv
requirements_full.txt
data/labeled/
models/
mlflow.db